<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>

    <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
      <left_joint>joint_FL</left_joint>
      <left_joint>joint_BL</left_joint>

      <right_joint>joint_FR</right_joint>
      <right_joint>joint_BR</right_joint>

      <wheel_separation>0.19</wheel_separation>
      <wheel_radius>0.033</wheel_radius>

      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/model/my_bot/tf</tf_topic>

      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
    </plugin>

    <plugin name="gz::sim::systems::JointStatePublisher"
            filename="gz-sim-joint-state-publisher-system">
      <topic>/joint_states</topic>
    </plugin>

  </gazebo>

</robot>
